#exception
!.gitignore

#editor
.vscode/

# testing
coverage

# production
build

# environment
.env-cmdrc
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
node_modules/
jspm_packages/
web_modules/

# misc cache
npm
.npm
.cache/
.DS_Store
.changelog
.eslintcache
*.tsbuildinfo
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp
.pnp.*

# logs
logs
*.log
yarn.lock
yarn-debug.log*
yarn-error.log*
npm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock